[submodule "autoquake/GaMMA"]
	path = autoquake/GaMMA
	url = ../GaMMA.git
[submodule "autoquake/EQNet"]
	path = autoquake/EQNet
	url = ../EQNet.git
[submodule "autoquake/DataClient"]
	path = autoquake/DataClient
	url = https://github.com/IES-ESLab/Fetch_data.git
